{{#each BTS}}
  <!--<div class="row">-->
    <!--NAME: {{this.name}}-->
      <!--<br>-->
    <!--YEAR : 20{{this.year}}-->
    <!--<br>-->
    <!--MONTH: {{this.month}}-->
    <!--<br>-->
    <!--DAY: {{this.day}}-->
    <!--<br>-->
    <!--TYPE: {{this.type}}-->
    <!--<br>-->
    <!--FULLNAME: {{this.fullname}}-->
    <!--<br>-->
    <!--{{#each this.BTS}}-->
      <!--BTS NAME: {{this}}-->
      <!--<br>-->
    <!--{{/each}}-->
    <!--</div>-->

  <div class="row">
    {{this.Filename}}
    <br>
    {{this.Size}}
    <br>
    {{this.Created}}
    <hr>
  </div>
  <hr>
{{/each}}
